/*

!.gitignore
!README.md
!/build_zc706.sh

!/hls/
/hls/*
!/hls/*.cpp
!/hls/*.h
!/hls/*.tcl

!/etharb_test/
/etharb_test/*
!/etharb_test/*.tcl
!/etharb_test/*.xdc
!/etharb_test/*.v

!/python/
/python/*
!/python/*.py

!/linux/
/linux/*
!/linux/*.dtsi
!/linux/config_sdcard
!/linux/recipes-kernel/

