/*

!.gitignore
!README.md
!/build_zc706.sh

!/cpp/
/cpp/*
!/cpp/*.cpp
!/cpp/*.h

!/etharb_tx/
/etharb_tx/*
!/etharb_tx/*.tcl

!/eth_tstsrc/
/eth_tstsrc/*
!/eth_tstsrc/*.tcl

!/etharb_test/
/etharb_test/*
!/etharb_test/*.tcl
!/etharb_test/*.xdc
!/etharb_test/*.v

!/python/
/python/*
!/python/*.py

!/linux/
/linux/*
!/linux/*.dtsi
!/linux/config_sdcard
!/linux/recipes-kernel/

