/*

!.gitignore
!README.md
!/build_zc706.sh

!/hls/
/hls/*
!/hls/*.cpp
!/hls/*.h
!/hls/*.tcl

!/etharb_test/
/etharb_test/*
!/etharb_test/*.tcl
!/etharb_test/*.xdc
!/etharb_test/*.v

!/linux/
/linux/*
!/linux/*.dtsi
!/linux/rootfs_config
!/linux/config

!/linux/recipes-kernel/
/linux/recipes-kernel/*
!/linux/recipes-kernel/linux/*.bbappend
!/linux/recipes-kernel/linux/linux-xlnx/
/linux/recipes-kernel/linux/linux-xlnx/*
!/linux/recipes-kernel/linux/linux-xlnx/axieth.patch
!/linux/recipes-kernel/linux/linux-xlnx/*.cfg

!/linux/recipes-modules/
/linux/recipes-modules/*
!/linux/recipes-modules/etharbtx/
/linux/recipes-modules/etharbtx/*
!/linux/recipes-modules/etharbtx/etharbtx.bb
!/linux/recipes-modules/etharbtx/files/
/linux/recipes-modules/etharbtx/files/*
!/linux/recipes-modules/etharbtx/files/COPYING
!/linux/recipes-modules/etharbtx/files/etharbtx.c
!/linux/recipes-modules/etharbtx/files/*.hil
!/linux/recipes-modules/etharbtx/files/Makefile

